*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    font-size: 15px;
    height: 200vh;
}
header{
    width:100%;
    height:600px;
    background-image:url("foto/architect%20building%205.jpg");
    background-repeat:no-repeat;
    background-size:cover; 
    background-position:center;
    padding: 1px;
    position: relative;
}
nav{
    width: 100%;
    height: 66px;
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px black;
    letter-spacing: 4px;  
    font-size: 15px;
    top:0;
    font-family: 'Ubuntu', sans-serif;
    position:fixed;
}
.logo{
    width:65px;
    height:65px;
    background-image:url("foto/logo.png");
    background-repeat:no-repeat;
    background-size:cover; 
    background-position:center;
    position:absolute;
    margin-left:6px;
}
.BR{
    margin-top:15px;
    width:140px;
    height:40px;
    position:absolute;
    margin-left:16px;
    font-size:21px;
    padding:9px;
    position:absolute;
    top:5px;
}
.BR:hover{
    background-color:black;
    color:white;
}
ul{
    display:inline-block;
    width:100%;
    height:60px;
    text-align:right;
    padding:10px;
}
li{
    width:100px;
    height:40px;
    display:inline-block;
    margin:5px;
    text-align:center;
    padding-top:15px;
    border:2px;
}
li:hover{
    background-color:lightgray;
}
a{
    text-decoration:none;
    color:black;
}
h1{
    width:400px;
    height:60px;
    margin:0 auto;
    letter-spacing:2px;
    font-family: 'Rubik', sans-serif;
}
main{
    width:100%;
    height:auto;
}
.galerija{
    width:100%;
    height:auto;
    text-align:center;
}
.galerija div{
    width:400px;
    height:200px;
    display:inline-block;
    margin:20px;
}
h3{
    width:140px;
    height:30px;
    text-align:left;
    color:white;
    background-color:black;
    font-family: 'Ubuntu', sans-serif;
}
.galerija h3{
    padding:5px;
}
.galerija h3:hover{
    background-color:lightgray;
    color:black;
}
h2{
    margin:30px;
}
.foto1{
    background-image:url(foto/summer%20house.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto2{
    background-image:url(foto/brick%20house.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto3{
    background-image:url(foto/renovated.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto4{
    background-image:url(foto/barn.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto5{
    background-image:url(foto/summer2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto6{
    background-image:url(foto/brick2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto7{
    background-image:url(foto/renovated2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto8{
    background-image:url(foto/barn2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.about{
    text-align:center;
}
.about div{
    width:250px;
    height:200px;
    display:inline-block;
    margin:0;
}
.about div > div{
    width:250px;
    height:200px;
    margin:0;
}
.foto9{
    background-image:url(foto/profile.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto10{
    background-image:url(foto/profile4.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto11{
    background-image:url(foto/profile3.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.foto12{
    background-image:url(foto/profile1.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.about h2{
    margin:20px 5px;
    text-align:left;
}
.about h4{
    margin:20px 5px;
    text-align:left;
    color:gray;
    font-weight:100;
}
.about p{
    text-align:justify;
    width:95%;
    margin:20px auto;
}
.about a{
    display:block;
    width:100%;
    height:40px;
    padding-top:8px;
    background-color:#f1f1f1;
}
.about a:hover{
    background-color:lightgray;
}
footer{
    width:100%;
    height:100px;
    background-color:black;
    text-align:center;
    color:white;
    padding-top:40px;
    margin-top:20px;
}
